{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/navbar.css' %}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light">
    <a href="/"><img class="navbar-logo" src="{% static 'images/logo1.png' %}" alt="BrandFinder logo"></a>
    <a class="navbar-brand" href="/">BrandFinder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/recent">Imágenes recientes</a>
            </li>
        </ul>
        <div class="buttons-line">
            <hr>
        </div>

        

    </div>
</nav>