/* Footer css */

.footer-logo{
  height: 20px;
}

.footer-text{
  margin-bottom: 5px;
}

footer.container{
  background-color: #ecf7db;
}

a {
  color: #000;
  text-decoration: none;
}

@media (max-width: 767px) {
  .container {
    border-radius: 0 !important;
  }
}