{% extends 'master.html' %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/crispy_form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block title %} Inicio {% endblock %}

{% block content %}

{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="main">
    <div>
      <h1 class="title max">BrandFinder</h1>
      <h2 class="title">Detecta la marca de un coche en una foto</h2>
    </div>
  <div class="crispy-wrapper">
    <div class="crispy-layout">
      <div class="crispy-container">
        <form method="POST" action="" class="crispy-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.errors }}
            <p class="required-fields-crispy">Los campos marcados con * son obligatorios.</p>
            <button class="btn btn-success" id="id_submit_button" type="submit">Detectar marca</button>
          </form>
      </div>
    </div>
  </div>
  {% if image %}    
  <div class="wrapper">
    <div class="results">
      <div class="images">
        <div class="image">
          <span class="title reg">Imagen proporcionada</span>
          <img src="{{ image }}" alt="Imagen subida" class="img-fluid">
        </div>
        <div class="image reg">
          <span class="title">Imagen resultante</span>
          {% if brand_image %}
          <img src="{{ brand_image }}" alt="Imagen resultante" class="img-fluid">
          {% else %}
          <p>No se ha podido detectar una marca en la imagen proporcionada.</p>
          {% endif %}
        </div>
      </div>
      <span class="title reg">
        {% if brand %}
        Se ha detectado la marca {{ brand }} en la imagen proporcionada.
        {% else %}
        No se ha podido detectar correctamente una marca en la imagen proporcionada.
        {% endif %}
      </p>
    </div>
  </div>
  {% endif %}
</div>

<script type="text/javascript">
  let submitBtn = document.getElementById("id_submit_button");
  let colorInput = document.getElementById("id_color");
  let photoInput = document.getElementById("id_image");

  photoInput.addEventListener("change", function() {
    if (colorInput.value != "default") {
      submitBtn.disabled = false;
    } else {
      submitBtn.disabled = true;
    }
  });

  colorInput.addEventListener("change", function() {
    if (colorInput.value != "default") {
      submitBtn.disabled = false;
    } else {
      submitBtn.disabled = true;
    }
  });

</script>

{% endblock %}